<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data science tools and ecosystem

In this notebook, data science Tools and ecosystem are sumarized

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.C++
5.Java etc..

Some of the most used libraries in data science are:

1. TensorFlow  
2. NumPy  
3. SciPy  
4. Pandas  
5. Matplotlib  
6. Keras  
7. Scikit-Learn  
8. PyTorch

| Data Science Tools      |
|------------------|
| Jupyter Notebook |
| RStudio          | 
| Apache Spark     | 
| TensorFlow       |

### Below are a few examples of evaluating arithmetic expressions in Python
Next, we'll look at some examples of arithmetic operations in Python, such as addition, subtraction, multiplication, and division.

In [12]:
# This a simple arithmetic expression to mutiply then add integers

sum = (3*4)+5

print("resultado :", sum)

resultado : 17

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes / 60
print(minutes, "minutes equals", hours, "hours")

200 minutes equals 3.3333333333333335 hours

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create a table of Data Science tools  
- Demonstrate basic arithmetic expressions  
- Practice using Jupyter Notebook cells (Markdown and Code)

## Author
**Name:** Estefano Valentino Garcia Diaz